.u-section-1 {
  background-image: none;
  min-height: 594px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 600px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 719px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 809px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 290px;
  }
}