.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-image-1 {
  width: 90px;
  height: 90px;
  background-image: url("images/ae51aacce6aeebbad11afea76643a62ca256245e03c42d1034366d7e2a8273b0b9cd01cd93df638c1ce876b1e93fe69b9897182ebb4734a683d23f_1280.jpg");
  background-position: 50% 50%;
  margin: 121px auto 0 144px;
}

.u-section-1 .u-image-2 {
  width: 90px;
  height: 90px;
  background-image: url("https://pixabay.com/get/ge4396a1d98ae51aacce6aeebbad11afea76643a62ca256245e03c42d1034366d7e2a8273b0b9cd01cd93df638c1ce876b1e93fe69b9897182ebb4734a683d23f_1280.jpg");
  background-position: 50% 50%;
  margin: -90px 144px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 90px;
  height: 90px;
  background-image: url("https://pixabay.com/get/ge4396a1d98ae51aacce6aeebbad11afea76643a62ca256245e03c42d1034366d7e2a8273b0b9cd01cd93df638c1ce876b1e93fe69b9897182ebb4734a683d23f_1280.jpg");
  background-position: 50% 50%;
  margin: -90px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 18px 845px 0 83px;
}

.u-section-1 .u-text-2 {
  width: 224px;
  margin: -75px auto 0;
}

.u-section-1 .u-text-3 {
  margin: -82px 74px 0 849px;
}

.u-section-1 .u-image-4 {
  width: 90px;
  height: 90px;
  background-image: url("https://pixabay.com/get/ge4396a1d98ae51aacce6aeebbad11afea76643a62ca256245e03c42d1034366d7e2a8273b0b9cd01cd93df638c1ce876b1e93fe69b9897182ebb4734a683d23f_1280.jpg");
  background-position: 50% 50%;
  margin: 25px auto 0 144px;
}

.u-section-1 .u-image-5 {
  width: 90px;
  height: 90px;
  background-image: url("https://pixabay.com/get/ge4396a1d98ae51aacce6aeebbad11afea76643a62ca256245e03c42d1034366d7e2a8273b0b9cd01cd93df638c1ce876b1e93fe69b9897182ebb4734a683d23f_1280.jpg");
  background-position: 50% 50%;
  margin: -92px auto 0;
}

.u-section-1 .u-image-6 {
  width: 90px;
  height: 90px;
  background-image: url("https://pixabay.com/get/ge4396a1d98ae51aacce6aeebbad11afea76643a62ca256245e03c42d1034366d7e2a8273b0b9cd01cd93df638c1ce876b1e93fe69b9897182ebb4734a683d23f_1280.jpg");
  background-position: 50% 50%;
  margin: -88px 144px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 16px 848px 0 80px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  width: 206px;
  margin: -77px auto 0;
}

.u-section-1 .u-text-6 {
  margin: -73px 74px 60px 863px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 728px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 723px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 728px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 737px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 328px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 323px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 328px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 337px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 123px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 137px;
  }
}